/*formats all margins*/
*{
  margin:0;
  padding:0;
}

body{
  width:1400px;
  height: 2346px;
  margin:0;
  border-top:3px solid #E7B92F;
  position: absolute;
}
#logo-wrapper {
  margin: 33px 0 37px 0;
}

.Website_Logo .logo-text{
  font-family: "Lucida Calligraphy";
  font-style: italic;
  text-align: center;
  line-height: 60px;
  font-size: 59px;
  letter-spacing: 4px;
  text-shadow: 0 0 1px #000;
  margin: 0 auto;
}
.slider {
  height: 418px;
  overflow: hidden;
  position: relative;
  width: 1400px;
}
.headline {
  position: absolute;
  display: block;
  width: 100%;
  margin-top: 135px;
}
.headlineText-container{
  width: 800px;
  margin: 0 auto;
}
.headline h1{
  line-height: 62px;
  text-align: center;
  font-size: 62px;
  font-family: "Yu Gothic";
  font-weight: 900;
  margin: 0 auto;
  color: #fff;
  letter-spacing: 3px;
  text-shadow: -1px 0 #fff, 0 0.3px #fff, 0.3px 0 #fff, 0 -1px #fff;
  margin-bottom: 37px;
  word-break: keep-all;  
}
 .headline h4 {
  font-family: "Yu Gothic";
  margin: 0 auto;
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  font-size: 15px;
  font-weight: 600;
 }

/*for navigation arrows*/
.nav-arrows {
  position: absolute;
  width: 100%;
  margin-top: 13%;
}
#arrow-left{
  float: left;
  margin-left:160px; 
}
#arrow-right{
  float:right;
  margin-right:160px; 
}
/*navigation dots*/
.dots-wrapper {
  position: absolute;
  bottom: 12px;
  margin: 0 auto;
  display: block;
  width: 100%;
}
#allDots li {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #fff;
  list-style-type: none;
  float: left;
  margin: 8px;
  cursor:pointer;
}
#allDots{
  width: 96px;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
.arrow:hover{
  cursor:pointer;
}
.active{
  background: #E7B92D !important;
}
#inner-container{
  width: 68%;
  float: left;
}
#item-title {
  font-size: 18px;
  font-family: "Yu Gothic";
  font-weight: 900;
  line-height: 1.3;
  margin-top: 8px;
  margin-bottom: 8px;
  color:#000;
}
.second-col:hover h4#item-title{
  color: #e7ba2f;
  cursor: pointer;
} 
div#imageCon {
  margin: 12px 0 12px 0;
}
div#imageCon:hover {
  cursor: pointer;
}
a#itemsList, #listwidget  {
  text-decoration: none;
  color:#000;
  display: inline-block;
}
div#imageCon:hover #first-image{
  opacity: 0;
}
.items-right{
  float: left;
  text-align: center;
  background: #EFEFEF;
  width: 32%;
}
.container {
  overflow: hidden;
  margin: 0 auto;
  width: 1090px;
  margin-top: 23px;
  margin-bottom: 90px;
}
  #items-left ul{
  list-style-type: none;
  }
.first-col {
  display: inline-block;
  width: 206px;
  height: 116px;
  padding: 8px 10px 8px 5px;
  }
  .second-col {
  width: 485px;;
  height: 117px;
  display: inline-block;
  overflow: hidden;
  padding: 8px 0 8px 0;
}
.first-col img{
  width: inherit;
  height: auto;
  position: absolute;
}
.first-col img:nth-child(2):hover {
  opacity: 0;
}
a#dummy {
  text-decoration: none;
  color: #000;
}
a#dummy-link {
  text-decoration: none;
  color: #fff;
}
.Dummy_banner {
  padding: 142px 0 142px 0;
  background: white;
  margin:20px;
}
.Dummy_banner p{
  font-size: 16px;
  font-family: "Helvetica";
}

p.date-archive {
  font-size: 13px;
  font-family: "Helvetica";
  color: #999999;
  text-align: left;
}

p#item-sub {
  font-size: 13px;
  line-height: 18px;
  color:#000;
}
._2016_01_01 {
  font-size: 13px;
  font-family: "Helvetica";
  color: rgb(153, 153, 153);
  line-height: 1.4;
  position: absolute;
  left: 380px;
  top: 587.9px;
  z-index: 80;
}
.recommend {
  padding: 20px;
}
.recommend h4 {
 font-size: 27px;
 font-family: "Yu Gothic";
 line-height: 27px;
 text-align: center;
 margin-bottom: 10px;
}
div#item-widget {
  margin-top: 10px;
  margin-bottom: 24px;
}
/*for item widget*/
#item-widget  img{
  float: left;
  width: 113px;
  height: 63px;
  margin: 0 8px 8px 0;
}

#widget-contents{
  font-size: 14px;
  font-family: "Yu Gothic";
  font-weight: bold;
  line-height: 15px;
  text-align: left;
  margin-bottom: 5px;
}

div#imagetext {
  margin: 8px 0 8px 0;
  display: inline-block;
}

.base-banners {
  width: 300px;
  background-color: #666666;
  padding: 38px 0 38px 0;
  margin: 10px 0 10px 0;
  display: inline-block;

}
.base-banners p{
  text-align: center;
  font-family: "Helvetica";
  color:#fff;
  font-weight: 100;
}
#more-button {
  width: 404px;
  background: #333333;
  margin-left: 148px;
  margin-top: 40px;
  display: inherit;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position:relative;
}
#arrow-button{
  position: absolute;
  right: 16px;
  width: 11px;
  height: auto;
}
.footer {
  padding-top: 16px;
  padding-bottom: 16px;
  background: #000;
  position: relative;
  width: 100%;
  bottom: 0;
}

#footer-container {
  width: 1080px;
  display: block;
  margin: 0 auto;
}
div#footer-container p {
  color: #fff;
  font-size: 13px;
  font-family: "Yu Gothic";
  line-height: 13px;
}
.©2016_Sample {
  font-size: 14px;
  font-family: "Helvetica";
  color: rgb(255, 255, 255);
  line-height: 2.286;
  position: absolute;
  left: 1143px;
  top: 2336.977px;
  z-index: 4;
}
div#backTop {
  position: absolute;
  bottom: 63px;
  right: 159px;
}

